@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
  background: #00be9c;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.container .form{
  padding: 2rem;
}

.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }

 .form input:focus{
   border: 1px solid #00be9c;
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }

.form input.button{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:focus {
   border: 1px solid rgba(0, 0, 0, 0.3);
 }

.form input.button.save {
  margin-top: 1.6rem; 
  background: #00be9c;
}

.form input.button.clear{
  background: #ff6347;
}

.form input.button.save:hover{
  background: #009176;
}

.form input.button.clear:hover {
  background: #ff3814;
}

.radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: background .2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}

.radio:hover,
.radio:focus-within {
  background: rgba(159, 159, 159, 0.1);
}

.radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}

.radio input:focus {
  outline: none;
}

.radio input:checked {
  box-shadow: inset 0 0 0 6px #00be9c;
}

.radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}